@font-face {
  font-family: "Bebas";
  src: url("/fonts/Bebas.ttf");
  font-style: normal;
  font-weight: normal;
}
body {
  background-color: #121212;
  padding-top: 10%;
}

nav {
  background: #181818;
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-left: 30px;
}
nav a {
  font-family: "Bebas";
  font-size: 25px;
  color: white;
  background-color: #3b3b3b;
  border-radius: 30px;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 0 10px #000000;
  display: block;
  padding: 12px;
  margin-left: 30px;
}
nav p {
  font-family: "Bebas";
  font-size: 25px;
  color: white;
  margin-left: 20px;
}

.dropDownContent, .popover, .calendar {
  position: absolute;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: none;
}
.dropDownContent a, .popover a, .calendar a {
  margin-top: 10px;
}

h1 {
  font-family: "Bebas";
  font-size: 30px;
  color: white;
  text-shadow: 0 0 10px #000000;
}

.testform {
  background-color: #181818;
  border-radius: 30px;
  width: 350px;
  height: 560px;
  margin-left: auto;
  margin-right: auto;
}
.testform label {
  font-family: "Bebas";
  font-size: 18px;
  color: white;
}
.testform form {
  padding: 40px;
  text-align: center;
}
.testform p {
  font-family: "Bebas";
  font-size: 20px;
  color: white;
}

.calendar {
  background-color: whitesmoke;
  border-radius: 30px;
  padding: 20px;
}

.dayNames {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7px;
}
.dayNames p {
  color: #000000;
  font-size: 15px;
}

.selectMY {
  background-color: #3b3b3b;
  border-radius: 30px;
  width: 208px;
  padding: 5px;
}

.days {
  width: 220px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  gap: 7px;
  -ms-flex-line-pack: center;
      align-content: center;
}
.days a {
  font-family: "Bebas";
  font-size: 19px;
  color: white;
  text-decoration: none;
  width: 25px;
  height: 25px;
  background: #3b3b3b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input {
  border-width: 4px;
  border-radius: 5px;
}

.popover {
  -webkit-transform: translate(320px, -75%);
          transform: translate(320px, -75%);
  background: #181818;
  border-radius: 10px;
  width: 300px;
}
.popover h3 {
  font-family: "Bebas";
  font-size: 20px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}