%head
    %link(rel="stylesheet" href="/style.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js")
    %script(src="/scripts/Menu.js")
    %script(src="/scripts/DateAndTime.js")
    %script(src="/scripts/LocalStorage.js")

%body
    = Haml::Engine.new(File.read('navbar.haml')).render
    .textbox
        %img{:alt => "test", :src => "/images/16.jpg"}/
        %h2 Автобиография
        %p
            Родился 6 января 2002 года в городе Севастополе.
            В 2009 году зачислен в первый класс гимназии №24.
            В 2019 поступил в Севастопольский государственный университет.
            Мы вынуждены отталкиваться от того, что семантический разбор внешних противодействий, в своём классическом
            представлении, допускает внедрение глубокомысленных рассуждений.
            Но консультация с широким активом позволяет выполнить
            важные задания по разработке приоритизации разума над эмоциями. Современные технологии достигли такого
            уровня, что
            современная методология разработки не оставляет шанса для модели развития.