%head
    %link(rel="stylesheet" href="/style.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js")
    %script(src="/scripts/Menu.js")
    %script(src="/scripts/DateAndTime.js")
    %script(src="/scripts/History.js")
    
%body
    = Haml::Engine.new(File.read('navbar.haml')).render
    #historyTable.disc