%head
    %link(rel="stylesheet" href="/public/assets/css/style.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js")
    %script(src="/public/assets/js/Menu.js")
    %script(src="/public/assets/js/DateAndTime.js")
    %script(src="/public/assets/js/History.js")
    
%body
    = Haml::Engine.new(File.read('navbar.haml')).render
    #historyTable.disc