%nav
    %h1 Персональный сайт
    %a(href="http://localhost/my-website/main") Главная
    %a(href="aboutme.html") Обо мне
    .dropDown#myDropDown
        %a(href="activities.html") Мои интересы
        .dropDownContent#myDropdownContent
            %a(href="activities.html#music") - Любимая музыка
            %a(href="activities.html#hobby") - Мое хобби
            %a(href="activities.html#books") - Любимые книги
            %a(href="activities.html#films") - Любимые фильмы
    %a(href="study.html") Учеба
    %a(href="photo.html") Фотоальбом
    %a(href="contact.html") Контакт
    %a(href="test.html") Тест
    %a(href="history.html") История
    %p#dateTime